{block #content}

<h1>Zaměstnanci</h1>

<p><a href="{plink Company:default}">Firmy</a> <a href="{plink Statistic:default}">Statistiky</a> <a href="{plink Homepage:default}">Menu</a></p>

<a href="{plink add}">Vytvoř</a>
<table border="1" width="100%">
    <tr>
        <th>Firma</th>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Plat</th>
        <th>Daň</th>
        <th colspan="2">Akce</th>
    </tr>
        <tr n:foreach="$employers as $em">
            <td>{$em->company->name} </td>
            <td>{$em->surname}</td>
            <td>{$em->firstname}</td>
            <td>{$em->salary}</td>
            <td>{$em->salary * 0.4}</td>
            <td><a href="{plink edit id => $em['id']}">Edituj</a></td>
            <td><a href="{plink delete id => $em['id']}">Odeber</a></td>
        </tr>
    </div>
</table>